/*
 * Transparency
 */
.panel-transparency {
	background-color: rgba(0,0,0,0);
	transition: background-color 500ms;
}

.panel-transparency .panel-button {
	color: #fff;
	text-shadow: #000 0px 3px 5px;
}

.panel-transparency .system-status-icon {
	icon-shadow: black 0px 3px 5px;
}

.corner-transparency {
	-panel-corner-background-color: rgba(0,0,0,0);
	-panel-corner-border-color: transparent;
}

/*
 * Gradients
 */
.panel-gradient {
    background-color: transparent;
    background-gradient-start: rgba(0,0,0,0.8);
    background-gradient-end: rgba(0,0,0,0);
    background-gradient-direction: vertical;
}

.corner-gradient {
    background-color: transparent;
    -panel-corner-radius: 0;
}

.debug-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: 15px;
}
